<footer class="footer" role="contentinfo">
  <div class="footer__inner container">
    <span>&copy; Copyright {{ build.timestamp | dateToFormat('yyyy') }}</span>
    <a href="https://github.com/Varbintech/varbintech">
      {% icon "github" %}Varbintech
    </a>
  </div>
</footer>
