<header class="header" role="banner">
  <div class="header__inner container">
    <div class="header__left">
      <img
        alt="Varbintech Logo"
        src="{{ '/assets/images/svg/logo-black.svg' | url }}"
        loading="eager"
        width="192"
        height="192"
      />
    </div>
    <div class="header__right">
      {% include "navigation.njk" %}
    </div>
  </div>
</header>
