<meta name="description" content="We help startups and companies of all shapes and sizes to build high-quality Front-End solutions." />
<meta name="image" content="http://varbintech.com/assets/images/og-image-min.jpeg" />
<meta property="og:url" content="https://varbintech.com" />
<meta property="og:title" content="Varbintech | Development Company | Get started" />
<meta property="og:description" content="We help startups and companies of all shapes and sizes to build high-quality Front-End solutions." />
<meta property="og:image" content="http://varbintech.com/assets/images/og-image-min.jpeg" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image:alt" content="Varbintech | Development Company | Get started" />
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:creator" content="@var_bincom" />
<meta name="twitter:title" content="Varbintech | Development Company | Get started" />
<meta name="twitter:description" content="We help startups and companies of all shapes and sizes to build high-quality Front-End solutions." />
<meta name="twitter:image" content="http://varbintech.com/assets/images/og-image-min.jpeg" />

{# Favicon #}
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicon/apple-touch-icon.png' | url }}">
<link rel="icon" type="image/png" href="{{ '/assets/images/favicon/favicon-32x32.png' | url }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ '/assets/images/favicon/favicon-16x16.png' | url }}" sizes="16x16">
<link rel="shortcut icon" href="{{ '/assets/images/favicon/favicon.ico' | url }}">
<link rel="manifest" href="{{ '/site.webmanifest' | url }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

{# RSS Feed #}
{# <link type="application/atom+xml" rel="alternate" href="{{ meta.url }}/feed.xml" title="{{ meta.title }}"> #}
