<!-- HTML Meta Tags -->
<title>Varbintech | Development Company | Get started</title>
<meta name="description" content="We help startups and companies of all shapes and sizes to build high-quality Front-End solutions.">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Varbintech | Development Company | Get started">
<meta itemprop="description" content="We help startups and companies of all shapes and sizes to build high-quality Front-End solutions.">
<meta itemprop="image" content="http://varbintech.com/assets/images/og-image-min.jpeg">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://varbintech.com">
<meta property="og:type" content="website">
<meta property="og:title" content="Varbintech | Development Company | Get started">
<meta property="og:description" content="We help startups and companies of all shapes and sizes to build high-quality Front-End solutions.">
<meta property="og:image" content="http://varbintech.com/assets/images/og-image-min.jpeg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Varbintech | Development Company | Get started">
<meta name="twitter:description" content="We help startups and companies of all shapes and sizes to build high-quality Front-End solutions.">
<meta name="twitter:image" content="http://varbintech.com/assets/images/og-image-min.jpeg">
